In [48]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [50]:
df = pd.read_csv("vacancies.csv")

In [52]:
# Создаем целевую переменную
df['salary'] = np.where(
    df['russian_salary_from'].notna() & df['russian_salary_to'].notna(),
    (df['russian_salary_from'] + df['russian_salary_to']) / 2,
    np.where(
        df['russian_salary_from'].notna(),
        df['russian_salary_from'],
        df['russian_salary_to']
    )
)

df = df.dropna(subset=['salary'])

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1673 entries, 4 to 5575
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1673 non-null   int64
 1   title                1673 non-null   object
 2   company_name         1673 non-null   object
 3   currency             1673 non-null   object
 4   experience           1673 non-null   object
 5   type_of_employment   1673 non-null   object
 6   work_format          1673 non-null   object
 7   description          1673 non-null   object
 8   skills               1673 non-null   object
 9   address              1673 non-null   object
 10  published_at         1673 non-null   object
 11  archived             1673 non-null   bool
 12  url                  1673 non-null   object
 13  min_experience       1673 non-null   int64
 14  max_experience       1643 non-null   float64
 15  salary_to            868 non-null    float64
 16  salary_from          1443 non-null   float64
 17  russian_salary_to    868 non-null    float64
 18  russian_salary_from  1443 non-null   float64
 19  salary               1673 non-null   float64
dtypes: bool(1), float64(6), int64(2), object(11)
memory usage: 263.0+ KB

In [56]:
df = df.drop(columns=[
    'id', 'company_name', 'currency', 'published_at', 
    'archived', 'url', 'salary_to', 'salary_from', 'experience', 'russian_salary_to', 'russian_salary_from', 
    'description', 'title'
])

In [58]:
df.columns

Index(['type_of_employment', 'work_format', 'skills', 'address',
       'min_experience', 'max_experience', 'salary'],
      dtype='object')

In [60]:
print(df[['min_experience', 'max_experience', 'salary']].corr())

                min_experience  max_experience    salary
min_experience        1.000000        0.971802  0.550029
max_experience        0.971802        1.000000  0.522721
salary                0.550029        0.522721  1.000000

Можно оставить только min_experience, так как кореляция между этими признаками очень высокая

In [63]:
df = df.drop(columns=['max_experience'])

In [65]:
df['type_of_employment'].value_counts()

type_of_employment
Полная занятость       1623
Частичная занятость      35
Проектная работа          9
Стажировка                6
Name: count, dtype: int64

In [67]:
df['type_of_employment']=df['type_of_employment'].replace('Частичная занятость', 'Другое')
df['type_of_employment']=df['type_of_employment'].replace('Проектная работа', 'Другое')
df['type_of_employment']=df['type_of_employment'].replace('Стажировка', 'Другое')
df['type_of_employment'].value_counts()

type_of_employment
Полная занятость    1623
Другое                50
Name: count, dtype: int64

In [69]:
df['work_format'].value_counts()

work_format
Полный день         1152
Удаленная работа     504
Гибкий график          8
Сменный график         8
Вахтовый метод         1
Name: count, dtype: int64

In [71]:
df['work_format']=df['work_format'].replace('Сменный график', 'Гибкий график')
df = df[df['work_format'] != 'Вахтовый метод']
df['work_format'].value_counts()

work_format
Полный день         1152
Удаленная работа     504
Гибкий график         16
Name: count, dtype: int64

In [73]:
df = pd.get_dummies(df, columns=['type_of_employment', 'work_format'], dtype=int)

In [75]:
df

,skills,address,min_experience,salary,type_of_employment_Другое,type_of_employment_Полная занятость,work_format_Гибкий график,work_format_Полный день,work_format_Удаленная работа
4,"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,3,428677.92,0,1,0,0,1
18,"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,3,375645.60,0,1,0,0,1
24,"{SQL,Clickhouse,BigQuery,Databases,""Моделирова...",Москва,3,486129.60,0,1,0,0,1
25,"{Python,pandas,Regex,""Natural Language Process...",Санкт-Петербург,1,132580.80,1,0,0,0,1
27,"{Python,SQL,""Анализ данных"",Amplitude,""Английс...",Санкт-Петербург,1,70709.76,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
5571,"{""Работа с большим объемом информации"",Бюджети...",Краснодар,1,80000.00,0,1,0,0,1
5572,"{Ответственность,Внимательность,Коммуникабельн...",Новокузнецк,0,60000.00,0,1,0,1,0
5573,{},Москва,3,200000.00,0,1,0,1,0
5574,{},Тимашевск,1,55000.00,0,1,1,0,0
5575,{},Новотитаровская,1,55000.00,0,1,1,0,0

In [77]:
import re
from collections import Counter

def clean_skills(skill_str):
    skill_str = skill_str.strip('{}')
    skills = re.findall(r'(?:[^,"]|"(?:\\.|[^"])*")+', skill_str)
    skills = [s.strip().strip('"') for s in skills if s.strip()]
    return skills

df['skills_cleaned'] = df['skills'].apply(clean_skills)

selected_skills = [
    'SQL',
    'MS Excel',
    'Системный анализ',
    'Python',
    'Бизнес-анализ',
    'UML',
    'Работа с большим объемом информации',
    'Power BI',
    'Разработка технических заданий',
    'MS SQL',
    'REST',
    'Постановка задач разработчикам',
    'MS PowerPoint',
    'PostgreSQL',
    'API',
    'SOAP',
    'Atlassian Jira',
    'XML',
    'Финансовый анализ',
    'Tableau',
    'DWH',
    'Формирование аналитической отчетности',
    'Atlassian Confluence',
    'JSON',
    'Английский язык',
    'REST API',
    'Hadoop',
    'Визуализация данных',
    'ETL',
    'Clickhouse',
    'Математическая статистика',
    'Big Data',
    'Power Query',
    'ERP-системы на базе 1С',
    'Прогнозирование',
    '1С: Предприятие 8',
    'Экономический анализ',
    'Системное мышление',
    'Финансовая отчетность',
    'Системная интеграция',
    'Git',
    'MS Visio',
    'Greenplum',
    'JSON API',
    '1С: Бухгалтерия',
    'ORACLE',
    'Автоматизация процессов',
    'A/B тесты',
    'Postman',
    '1С: Документооборот',
    'Apache Kafka',
    'Scrum',
    'Оптимизация численности персонала',
    'Agile',
    'Бюджетирование',
    'Разработка бизнес-требований',
    'Статистический анализ',
    'Use case',
    'Аналитика продаж',
    '1C: ERP',
    'Финансовое планирование',
    'Разработка функциональных требований',
    'Управление проектами',
    '1С: Зарплата и управление персоналом',
    'СУБД',
    'Swagger',
    'Финансовое моделирование',
    'Kafka'
]

for skill in selected_skills:
    df[f'skill_{skill}'] = df['skills_cleaned'].apply(lambda x: 1 if skill in x else 0)

df = df.drop(columns=['skills', 'skills_cleaned'])

In [79]:
top_address = df['address'].value_counts().head(6).index
df['address_group'] = df['address'].apply(lambda x: x if x in top_address else 'other')
df = pd.get_dummies(df, columns=['address_group'], prefix='address', dtype=int)
df = df.drop(columns=['address'])

In [81]:
df.columns

Index(['min_experience', 'salary', 'type_of_employment_Другое',
       'type_of_employment_Полная занятость', 'work_format_Гибкий график',
       'work_format_Полный день', 'work_format_Удаленная работа', 'skill_SQL',
       'skill_MS Excel', 'skill_Системный анализ', 'skill_Python',
       'skill_Бизнес-анализ', 'skill_UML',
       'skill_Работа с большим объемом информации', 'skill_Power BI',
       'skill_Разработка технических заданий', 'skill_MS SQL', 'skill_REST',
       'skill_Постановка задач разработчикам', 'skill_MS PowerPoint',
       'skill_PostgreSQL', 'skill_API', 'skill_SOAP', 'skill_Atlassian Jira',
       'skill_XML', 'skill_Финансовый анализ', 'skill_Tableau', 'skill_DWH',
       'skill_Формирование аналитической отчетности',
       'skill_Atlassian Confluence', 'skill_JSON', 'skill_Английский язык',
       'skill_REST API', 'skill_Hadoop', 'skill_Визуализация данных',
       'skill_ETL', 'skill_Clickhouse', 'skill_Математическая статистика',
       'skill_Big Data', 'skill_Power Query', 'skill_ERP-системы на базе 1С',
       'skill_Прогнозирование', 'skill_1С: Предприятие 8',
       'skill_Экономический анализ', 'skill_Системное мышление',
       'skill_Финансовая отчетность', 'skill_Системная интеграция',
       'skill_Git', 'skill_MS Visio', 'skill_Greenplum', 'skill_JSON API',
       'skill_1С: Бухгалтерия', 'skill_ORACLE',
       'skill_Автоматизация процессов', 'skill_A/B тесты', 'skill_Postman',
       'skill_1С: Документооборот', 'skill_Apache Kafka', 'skill_Scrum',
       'skill_Оптимизация численности персонала', 'skill_Agile',
       'skill_Бюджетирование', 'skill_Разработка бизнес-требований',
       'skill_Статистический анализ', 'skill_Use case',
       'skill_Аналитика продаж', 'skill_1C: ERP',
       'skill_Финансовое планирование',
       'skill_Разработка функциональных требований',
       'skill_Управление проектами',
       'skill_1С: Зарплата и управление персоналом', 'skill_СУБД',
       'skill_Swagger', 'skill_Финансовое моделирование', 'skill_Kafka',
       'address_other', 'address_Екатеринбург', 'address_Казань',
       'address_Москва', 'address_Нижний Новгород', 'address_Новосибирск',
       'address_Санкт-Петербург'],
      dtype='object')

In [83]:
# Референтые группы - type_of_employment_Полная занятость , work_format_Удаленная работа, address_Москва
X = df.drop(columns=['salary', 'type_of_employment_Полная занятость', 'work_format_Удаленная работа' ,
                     'address_Москва'])  # Предикторы
y = df['salary']  # Целевая переменная

X = sm.add_constant(X)

model1 = sm.OLS(y, X).fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.582
Model:                            OLS   Adj. R-squared:                  0.562
Method:                 Least Squares   F-statistic:                     28.49
Date:                Mon, 07 Apr 2025   Prob (F-statistic):          7.83e-246
Time:                        18:09:47   Log-Likelihood:                -20478.
No. Observations:                1672   AIC:                         4.111e+04
Df Residuals:                    1593   BIC:                         4.154e+04
Df Model:                          78
Covariance Type:            nonrobust
===============================================================================================================
                                                  coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------
const                                        1.233e+05   3864.803     31.909      0.000    1.16e+05    1.31e+05
min_experience                               2.696e+04   1136.436     23.721      0.000    2.47e+04    2.92e+04
type_of_employment_Другое                   -3.592e+04   7735.090     -4.644      0.000   -5.11e+04   -2.08e+04
work_format_Гибкий график                    1.496e+04   1.35e+04      1.107      0.268   -1.15e+04    4.15e+04
work_format_Полный день                     -1.081e+04   3182.530     -3.395      0.001    -1.7e+04   -4563.757
skill_SQL                                    2.245e+04   4897.185      4.583      0.000    1.28e+04    3.21e+04
skill_MS Excel                              -1.057e+04   4130.518     -2.560      0.011   -1.87e+04   -2471.124
skill_Системный анализ                       7887.3164   6547.055      1.205      0.228   -4954.433    2.07e+04
skill_Python                                -1.063e+04   6607.000     -1.609      0.108   -2.36e+04    2327.263
skill_Бизнес-анализ                         -8781.5755   5481.098     -1.602      0.109   -1.95e+04    1969.348
skill_UML                                     2.25e+04   7527.703      2.989      0.003    7734.836    3.73e+04
skill_Работа с большим объемом информации   -1.406e+04   4603.472     -3.055      0.002   -2.31e+04   -5033.483
skill_Power BI                               7594.2744   7087.030      1.072      0.284   -6306.612    2.15e+04
skill_Разработка технических заданий        -1688.5898   7659.937     -0.220      0.826   -1.67e+04    1.33e+04
skill_MS SQL                                -1.424e+04   8284.951     -1.719      0.086   -3.05e+04    2008.506
skill_REST                                   1.722e+04   1.22e+04      1.411      0.158   -6714.292    4.11e+04
skill_Постановка задач разработчикам          193.6732   8204.282      0.024      0.981   -1.59e+04    1.63e+04
skill_MS PowerPoint                          -961.8493   6687.899     -0.144      0.886   -1.41e+04    1.22e+04
skill_PostgreSQL                             1176.8095   1.07e+04      0.110      0.912   -1.98e+04    2.22e+04
skill_API                                    3337.3003   1.06e+04      0.314      0.753   -1.75e+04    2.42e+04
skill_SOAP                                   2.568e+04   1.38e+04      1.865      0.062   -1333.818    5.27e+04
skill_Atlassian Jira                         1448.8670    1.3e+04      0.111      0.911   -2.41e+04     2.7e+04
skill_XML                                    4908.1022   1.48e+04      0.332      0.740   -2.41e+04    3.39e+04
skill_Финансовый анализ                     -1.442e+04   9021.873     -1.599      0.110   -3.21e+04    3272.844
skill_Tableau                                3.866e+04   1.25e+04      3.104      0.002    1.42e+04    6.31e+04
skill_DWH                                    5.443e+04    2.4e+04      2.272      0.023    7438.840    1.01e+05
skill_Формирование аналитической отчетности  9552.9195   7861.253      1.215      0.224   -5866.569     2.5e+04
skill_Atlassian Confluence                  -1421.4566   1.56e+04     -0.091      0.928   -3.21e+04    2.93e+04
skill_JSON                                  -1.717e+04   1.57e+04     -1.095      0.273   -4.79e+04    1.36e+04
skill_Английский язык                        6429.2674   1.04e+04      0.620      0.535   -1.39e+04    2.68e+04
skill_REST API                               1.069e+04   1.38e+04      0.772      0.440   -1.65e+04    3.78e+04
skill_Hadoop                                 1.052e+05   1.84e+04      5.711      0.000    6.91e+04    1.41e+05
skill_Визуализация данных                   -3.908e+04    1.2e+04     -3.263      0.001   -6.26e+04   -1.56e+04
skill_ETL                                    2.418e+04   1.61e+04      1.505      0.133   -7334.718    5.57e+04
skill_Clickhouse                             5.386e+04    1.4e+04      3.853      0.000    2.64e+04    8.13e+04
skill_Математическая статистика               1.57e+04   1.25e+04      1.255      0.210   -8849.262    4.03e+04
skill_Big Data                               7986.9190   1.77e+04      0.451      0.652   -2.68e+04    4.28e+04
skill_Power Query                           -3960.2906   1.35e+04     -0.292      0.770   -3.05e+04    2.26e+04
skill_ERP-системы на базе 1С                 4.354e+04   1.08e+04      4.034      0.000    2.24e+04    6.47e+04
skill_Прогнозирование                        7559.6682   9437.322      0.801      0.423    -1.1e+04    2.61e+04
skill_1С: Предприятие 8                      8778.2053   8386.328      1.047      0.295   -7671.194    2.52e+04
skill_Экономический анализ                  -6564.3555   8966.377     -0.732      0.464   -2.42e+04     1.1e+04
skill_Системное мышление                    -2.066e+04   8604.728     -2.400      0.016   -3.75e+04   -3777.726
skill_Финансовая отчетность                 -1.538e+04   1.11e+04     -1.381      0.167   -3.72e+04    6462.074
skill_Системная интеграция                  -2.813e+04   1.49e+04     -1.891      0.059   -5.73e+04    1042.149
skill_Git                                   -1.426e+04   2.07e+04     -0.689      0.491   -5.49e+04    2.63e+04
skill_MS Visio                               2.171e+04    1.3e+04      1.669      0.095   -3800.361    4.72e+04
skill_Greenplum                             -2.856e+04   2.66e+04     -1.073      0.283   -8.08e+04    2.36e+04
skill_JSON API                              -1.531e+04    1.5e+04     -1.018      0.309   -4.48e+04    1.42e+04
skill_1С: Бухгалтерия                        1963.8847   1.15e+04      0.171      0.864   -2.05e+04    2.45e+04
skill_ORACLE                                 1.916e+04   2.16e+04      0.888      0.375   -2.32e+04    6.15e+04
skill_Автоматизация процессов                2.073e+04   1.02e+04      2.040      0.041     799.642    4.07e+04
skill_A/B тесты                              4.542e+04   1.54e+04      2.959      0.003    1.53e+04    7.55e+04
skill_Postman                                6551.0819   2.35e+04      0.279      0.780   -3.95e+04    5.26e+04
skill_1С: Документооборот                   -3608.6842    1.1e+04     -0.328      0.743   -2.52e+04     1.8e+04
skill_Apache Kafka                          -1.995e+04   1.78e+04     -1.121      0.262   -5.48e+04    1.49e+04
skill_Scrum                                 -1.829e+04   1.48e+04     -1.233      0.218   -4.74e+04    1.08e+04
skill_Оптимизация численности персонала     -4.513e+04   9966.066     -4.529      0.000   -6.47e+04   -2.56e+04
skill_Agile                                  2.148e+04   1.58e+04      1.357      0.175   -9574.672    5.25e+04
skill_Бюджетирование                         5719.0283   1.07e+04      0.532      0.595   -1.54e+04    2.68e+04
skill_Разработка бизнес-требований            5.75e+04   1.51e+04      3.809      0.000    2.79e+04    8.71e+04
skill_Статистический анализ                 -1.481e+04   1.15e+04     -1.291      0.197   -3.73e+04    7689.171
skill_Use case                                1.42e+04   1.57e+04      0.902      0.367   -1.67e+04    4.51e+04
skill_Аналитика продаж                      -1.921e+04   1.19e+04     -1.615      0.106   -4.26e+04    4120.757
skill_1C: ERP                                5.384e+04   1.76e+04      3.058      0.002    1.93e+04    8.84e+04
skill_Финансовое планирование               -1.752e+04   1.28e+04     -1.369      0.171   -4.26e+04    7579.748
skill_Разработка функциональных требований     1.5e+04   1.49e+04      1.009      0.313   -1.42e+04    4.42e+04
skill_Управление проектами                  -5156.4937   1.37e+04     -0.376      0.707    -3.2e+04    2.17e+04
skill_1С: Зарплата и управление персоналом   1.687e+04   1.46e+04      1.152      0.249   -1.19e+04    4.56e+04
skill_СУБД                                   8960.2483   1.96e+04      0.458      0.647   -2.94e+04    4.74e+04
skill_Swagger                               -1.069e+04   2.82e+04     -0.379      0.705    -6.6e+04    4.47e+04
skill_Финансовое моделирование               3.104e+04   1.56e+04      1.990      0.047     450.645    6.16e+04
skill_Kafka                                  5.303e+04   2.69e+04      1.969      0.049     213.500    1.06e+05
address_other                               -5.545e+04   3123.716    -17.750      0.000   -6.16e+04   -4.93e+04
address_Екатеринбург                        -4.856e+04   7304.593     -6.648      0.000   -6.29e+04   -3.42e+04
address_Казань                              -3.717e+04   7095.756     -5.238      0.000   -5.11e+04   -2.32e+04
address_Нижний Новгород                     -5.052e+04   8263.562     -6.113      0.000   -6.67e+04   -3.43e+04
address_Новосибирск                          -5.94e+04   8652.377     -6.865      0.000   -7.64e+04   -4.24e+04
address_Санкт-Петербург                     -3.347e+04   4672.204     -7.164      0.000   -4.26e+04   -2.43e+04
==============================================================================
Omnibus:                      305.062   Durbin-Watson:                   1.932
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              786.220
Skew:                           0.975   Prob(JB):                    1.88e-171
Kurtosis:                       5.735   Cond. No.                         61.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [85]:
# Флаг для контроля остановки
all_significant = False

while not all_significant:
    model = sm.OLS(y, X).fit()
    p_values = model.pvalues.drop('const', errors='ignore')
    
    if (p_values <= 0.05).all():
        all_significant = True
    else:
        max_p_value = p_values.max()
        if max_p_value > 0.05:
            feature_to_drop = p_values.idxmax()
            print(f"Удаляем признак {feature_to_drop} (p-value = {max_p_value:.4f})")
            X = X.drop(columns=[feature_to_drop])
        else:
            all_significant = True

print(model.summary())

Удаляем признак skill_Постановка задач разработчикам (p-value = 0.9812)
Удаляем признак skill_Atlassian Confluence (p-value = 0.9279)
Удаляем признак skill_Atlassian Jira (p-value = 0.9421)
Удаляем признак skill_PostgreSQL (p-value = 0.9087)
Удаляем признак skill_MS PowerPoint (p-value = 0.8853)
Удаляем признак skill_1С: Бухгалтерия (p-value = 0.8687)
Удаляем признак skill_Разработка технических заданий (p-value = 0.8143)
Удаляем признак skill_Postman (p-value = 0.7912)
Удаляем признак skill_Swagger (p-value = 0.8191)
Удаляем признак skill_API (p-value = 0.7903)
Удаляем признак skill_Power Query (p-value = 0.7550)
Удаляем признак skill_1С: Документооборот (p-value = 0.7564)
Удаляем признак skill_XML (p-value = 0.7020)
Удаляем признак skill_Управление проектами (p-value = 0.6667)
Удаляем признак skill_Big Data (p-value = 0.6154)
Удаляем признак skill_СУБД (p-value = 0.6225)
Удаляем признак skill_Бюджетирование (p-value = 0.5922)
Удаляем признак skill_Английский язык (p-value = 0.5457)
Удаляем признак skill_Use case (p-value = 0.4693)
Удаляем признак skill_Git (p-value = 0.4627)
Удаляем признак skill_Экономический анализ (p-value = 0.4064)
Удаляем признак skill_Прогнозирование (p-value = 0.3981)
Удаляем признак skill_ORACLE (p-value = 0.3370)
Удаляем признак skill_Greenplum (p-value = 0.3880)
Удаляем признак skill_Power BI (p-value = 0.3068)
Удаляем признак skill_1С: Предприятие 8 (p-value = 0.3077)
Удаляем признак skill_REST API (p-value = 0.2991)
Удаляем признак work_format_Гибкий график (p-value = 0.2845)
Удаляем признак skill_Статистический анализ (p-value = 0.2679)
Удаляем признак skill_Математическая статистика (p-value = 0.2493)
Удаляем признак skill_Разработка функциональных требований (p-value = 0.2455)
Удаляем признак skill_REST (p-value = 0.2771)
Удаляем признак skill_JSON API (p-value = 0.2783)
Удаляем признак skill_ETL (p-value = 0.2386)
Удаляем признак skill_Apache Kafka (p-value = 0.2518)
Удаляем признак skill_Финансовое планирование (p-value = 0.1792)
Удаляем признак skill_Формирование аналитической отчетности (p-value = 0.1895)
Удаляем признак skill_JSON (p-value = 0.1760)
Удаляем признак skill_Scrum (p-value = 0.1621)
Удаляем признак skill_MS SQL (p-value = 0.1502)
Удаляем признак skill_Agile (p-value = 0.1511)
Удаляем признак skill_MS Visio (p-value = 0.1322)
Удаляем признак skill_Системный анализ (p-value = 0.1352)
Удаляем признак skill_Бизнес-анализ (p-value = 0.2434)
Удаляем признак skill_Python (p-value = 0.1132)
Удаляем признак skill_Финансовая отчетность (p-value = 0.1095)
Удаляем признак skill_Системная интеграция (p-value = 0.0986)
Удаляем признак skill_1С: Зарплата и управление персоналом (p-value = 0.0840)
Удаляем признак skill_Аналитика продаж (p-value = 0.0702)
Удаляем признак skill_Автоматизация процессов (p-value = 0.0619)
Удаляем признак skill_Системное мышление (p-value = 0.1286)
Удаляем признак skill_Финансовое моделирование (p-value = 0.0538)
                            OLS Regression Results
==============================================================================
Dep. Variable:                 salary   R-squared:                       0.567
Model:                            OLS   Adj. R-squared:                  0.560
Method:                 Least Squares   F-statistic:                     82.76
Date:                Mon, 07 Apr 2025   Prob (F-statistic):          4.03e-276
Time:                        18:13:00   Log-Likelihood:                -20509.
No. Observations:                1672   AIC:                         4.107e+04
Df Residuals:                    1645   BIC:                         4.122e+04
Df Model:                          26
Covariance Type:            nonrobust
=============================================================================================================
                                                coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------
const                                      1.233e+05   3724.031     33.112      0.000    1.16e+05    1.31e+05
min_experience                             2.715e+04   1111.641     24.422      0.000     2.5e+04    2.93e+04
type_of_employment_Другое                 -3.713e+04   7617.135     -4.875      0.000   -5.21e+04   -2.22e+04
work_format_Полный день                   -1.069e+04   3041.907     -3.514      0.000   -1.67e+04   -4722.530
skill_SQL                                  2.058e+04   4102.673      5.017      0.000    1.25e+04    2.86e+04
skill_MS Excel                            -1.123e+04   3815.007     -2.944      0.003   -1.87e+04   -3749.651
skill_UML                                  2.583e+04   6379.936      4.048      0.000    1.33e+04    3.83e+04
skill_Работа с большим объемом информации -1.388e+04   4400.732     -3.153      0.002   -2.25e+04   -5245.873
skill_SOAP                                 2.537e+04   1.06e+04      2.383      0.017    4486.362    4.63e+04
skill_Финансовый анализ                   -1.867e+04   6820.475     -2.737      0.006    -3.2e+04   -5288.802
skill_Tableau                               4.17e+04   1.18e+04      3.544      0.000    1.86e+04    6.48e+04
skill_DWH                                  6.179e+04    1.8e+04      3.433      0.001    2.65e+04    9.71e+04
skill_Hadoop                               1.035e+05   1.61e+04      6.421      0.000    7.19e+04    1.35e+05
skill_Визуализация данных                 -3.361e+04    1.1e+04     -3.046      0.002   -5.53e+04    -1.2e+04
skill_Clickhouse                           4.635e+04   1.31e+04      3.540      0.000    2.07e+04     7.2e+04
skill_ERP-системы на базе 1С               4.791e+04   9855.088      4.861      0.000    2.86e+04    6.72e+04
skill_A/B тесты                            4.561e+04    1.5e+04      3.037      0.002    1.62e+04    7.51e+04
skill_Оптимизация численности персонала   -4.364e+04   9419.698     -4.632      0.000   -6.21e+04   -2.52e+04
skill_Разработка бизнес-требований         6.147e+04   1.36e+04      4.507      0.000    3.47e+04    8.82e+04
skill_1C: ERP                              5.535e+04    1.7e+04      3.265      0.001    2.21e+04    8.86e+04
skill_Kafka                                4.758e+04   2.25e+04      2.117      0.034    3497.440    9.17e+04
address_other                             -5.532e+04   3054.652    -18.111      0.000   -6.13e+04   -4.93e+04
address_Екатеринбург                      -5.032e+04   7214.952     -6.975      0.000   -6.45e+04   -3.62e+04
address_Казань                            -3.839e+04   6988.638     -5.493      0.000   -5.21e+04   -2.47e+04
address_Нижний Новгород                   -5.276e+04   8199.022     -6.435      0.000   -6.88e+04   -3.67e+04
address_Новосибирск                       -5.818e+04   8581.880     -6.780      0.000    -7.5e+04   -4.13e+04
address_Санкт-Петербург                   -3.482e+04   4623.760     -7.531      0.000   -4.39e+04   -2.58e+04
==============================================================================
Omnibus:                      312.367   Durbin-Watson:                   1.910
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              810.624
Skew:                           0.995   Prob(JB):                    9.44e-177
Kurtosis:                       5.771   Cond. No.                         39.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.